html, body, div {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.wrapper {
    margin: 30px auto;
}

.filter {
    margin-bottom: 30px;
}
.load_button {
    position: absolute;
    top: 45%;
    left: 45%;
}
.draggable {
    cursor: move;
}
.dragover {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.isdragging {
    opacity: 0;

}